{
  "Deploy": {
    "OrgId": {
      "Include": {
        "r-cevp": {
          "Accounts": [
            821373506894
          ],
          "OUs": [
            "ou-cevp-dlhavf71"
          ],
          "Tags": {
            "Test": "Yes",
            "Owner": "Alan"
          }
        }
      },
      "Exclude": {
        "r-cevp": {
          "Accounts": [
            821373506894
          ],
          "OUs": [
            "ou-cevp-dlhavf71"
          ],
          "Tags": {
            "Test": "Yes",
            "Owner": "Alan"
          }
        }
      }
    }
  }
}