{
  "StackPrefix": "testing",
  "TemplateUrl": "https://deployment-idea-test-bucket.s3.eu-central-1.amazonaws.com/xxx/v1/_latest/module-4/templates/stack.yaml",
  "Create": {
    "Include": {
      "Accounts": [
        821373506894
      ],
      "OUs": [
        "ou-cevp-dlhavf71"
      ],
      "Tags": {
        "Test": "Yes",
        "Owner": "Alan"
      }
    },
    "Exclude": {
      "Accounts": [
        821373506890
      ],
      "OUs": [
        "ou-cevp-dlhavf71"
      ],
      "Tags": {
        "Test": "No",
        "Owner": "No"
      }
    },
    "Parameters": {
      "Environment": "Dev"
    }
  },
  "Delete": {
    "Include": {
      "Accounts": [
        821373506894
      ],
      "OUs": [
        "ou-cevp-dlhavf71"
      ],
      "Tags": {
        "Test": "Yes",
        "Owner": "Alan"
      }
    },
    "Exclude": {
      "Accounts": [
        821373506890
      ],
      "OUs": [
        "ou-cevp-dlhavf71"
      ],
      "Tags": {
        "Test": "No",
        "Owner": "No"
      }
    }
  }
}