---
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::LanguageExtensions
Description: >- 
{% if short_module_description%}  Short project description: {{ short_module_description }} {% endif %}
  Repository name: {{ _copier_conf.dst_path }}
  Project version: {{ PRODUCT_VERSION }}
  Build id: <<<BUILD_ID>>>
  Cloud Canvas boilerplate version: {{ TEMPLATE_VERSION }}
  Created by: {% if owner_name%}{{ owner_name }} /{% endif %} {% if owner_email%}{{ owner_email }}{% endif %}


Parameters:

  Environment:
    Type: String
    Default: Prod
    AllowedValues:
      - Dev
      - Prod

  LogRetentionInDays:
    Type: Number
    Default: 180
    AllowedValues:
      - 1
      - 3
      - 5
      - 7
      - 14
      - 30
      - 60
      - 90
      - 120
      - 150
      - 180
      - 365
      - 400
      - 545
      - 731
      - 1827
      - 3653

Conditions: 
  IsProd: !Equals [!Ref Environment, Prod]
  IsDev: !Equals [!Ref Environment, Dev]

Mappings:

  Environment:
    Dev:
      StateMachineLogLevel: ALL
    Prod:
      StateMachineLogLevel: ERROR

Resources:

{% if include_common_lambda_layer == True and include_lambda_scaffolding == True %}
  ############################################
  # Common lambda layer
  CommonLambdaLayer:
    Type: AWS::Lambda::LayerVersion
    Properties: 
      CompatibleRuntimes: 
        - python3.9
      Content: 
        S3Bucket: <<<ARTIFACT_BUCKET>>>
        S3Key: artefacts/{{ _copier_conf.dst_path }}/{{ PRODUCT_VERSION }}/<<<BUILD_ID>>>/{{ module_directory_name }}/lambda/layers/{{ common_lambda_layer_name|trim|slug }}.zip
      Description: {{ module_name }} - Common Lambda Layer
  # Common lambda layer
  ############################################
{% endif %}

{% if include_lambda_scaffolding == True %}

{% set lambda_list = lambda_names.split(",") %}
{% for lambda_name in lambda_list %}
{% set cleaned_lambda_name = lambda_name|trim|title|replace(" ", "")  %}
{% set cleaned_lambda_slug = lambda_name|trim|slug %}
  ############################################
  # {{ cleaned_lambda_name }} Lambda related
  {{ cleaned_lambda_name }}LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service:
            - lambda.amazonaws.com
          Action:
          - sts:AssumeRole
      Path: "/"
      ManagedPolicyArns:
        - !If [ IsDev, arn:aws:iam::aws:policy/AdministratorAccess, !Ref AWS::NoValue ]
      Policies:
      - PolicyName: AllowLambdaLogs
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: Allow
            Action:
            - logs:CreateLogGroup
            - logs:CreateLogStream
            - logs:PutLogEvents
            Resource: arn:aws:logs:*:*:*

  {{ cleaned_lambda_name }}Lambda:
    Type: AWS::Lambda::Function
    Properties:
      Description: {{ cleaned_lambda_name }} Lambda
      Handler: lambda_function.lambda_handler
      MemorySize: 1024
      Role: !GetAtt {{ cleaned_lambda_name }}LambdaExecutionRole.Arn
      Layers:
        {% if include_common_lambda_layer == True %}
        - !Ref CommonLambdaLayer
        {% endif %}
      Runtime: python3.11
      Timeout: 90
      Code:
        S3Bucket: <<<ARTIFACT_BUCKET>>>
        S3Key: artefacts/{{ _copier_conf.dst_path }}/{{ PRODUCT_VERSION }}/<<<BUILD_ID>>>/{{ module_directory_name }}/lambda/functions/{{ cleaned_lambda_slug }}.zip

  # {{ lambda_name | title }} Lambda related
  ############################################
{% endfor %}

{% endif %}
